body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: goldenrod; */
}

@keyframes spin {
  0% {
    transform: rotateZ(360deg);
    filter: hue-rotate(0deg) brightness(3);
  }
  /* 50% {
    transform: rotateZ(180deg);
  }*/
  100% {
    filter: hue-rotate(360deg) brightness(3);
  }
}

.loading {
  color:  white;
}

.loading-circle {
  width: 100px;
  animation: spin infinite linear;
  animation-duration: 1.5s;
  margin-right: 40px;
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(3);
  /* -webkit-filter: invert(100%) hue-rotate(100deg); */
}


.main {
  position: relative;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  display: none;
}

.img-outline {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
  transform: translate(1.3px,1.4px);
  z-index: -1;
}